#  <h1><font color= red><center>Capstone Analytic Report and Research Proposal</center></font></h1>

#### <h1><font color = blue><center>About my dataset</center></font></h1>

Zillow dataset from Kaggle competitions. you can find out more on this dataset <a href= "https://www.kaggle.com/c/zillow-prize-1/data">here</a>

#### <font color = lightblue><B><I>Importing Libraries</I></B></font>

In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy
%matplotlib inline

#### <font color = lightblue><B><I>Loading Dataset</I></B></font>

I believe that it is common belief that more bedrooms, more bathrooms and more square footage (both internal and external) will all yield higher home values.

In [70]:
dataset = pd.read_csv('properties_2017.csv')
dataset2 = pd.read_csv('train_2017.csv')
dataset.append(dataset2);

C:\Users\blindside\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
dataset.count()

parcelid                        2985217
airconditioningtypeid            815362
architecturalstyletypeid           6061
basementsqft                       1627
bathroomcnt                     2982260
bedroomcnt                      2982272
buildingclasstypeid               12731
buildingqualitytypeid           1941395
calculatedbathnbr               2868061
decktypeid                        17379
finishedfloor1squarefeet         203758
calculatedfinishedsquarefeet    2940120
finishedsquarefeet12            2720786
finishedsquarefeet13               7671
finishedsquarefeet15             190185
finishedsquarefeet50             203758
finishedsquarefeet6               21482
fips                            2982285
fireplacecnt                     313124
fullbathcnt                     2868061
garagecarcnt                     891008
garagetotalsqft                  891008
hashottuborspa                    50062
heatingorsystemtypeid           1869164
latitude                        2982285
longitude                       2982285
lotsizesquarefeet               2712511
poolcnt                          539632
poolsizesum                       27958
pooltypeid10                      17006
pooltypeid2                       33056
pooltypeid7                      505895
propertycountylandusecode       2982218
propertylandusetypeid           2982285
propertyzoningdesc              1982471
rawcensustractandblock          2982285
regionidcity                    2923089
regionidcounty                  2982285
regionidneighborhood            1156741
regionidzip                     2972503
roomcnt                         2982248
storytypeid                        1623
threequarterbathnbr              316357
typeconstructiontypeid             6746
unitcnt                         1981042
yardbuildingsqft17                81588
yardbuildingsqft26                 2646
yearbuilt                       2937384
numberofstories                  685676
fireplaceflag                      5163
structuretaxvaluedollarcnt      2938753
taxvaluedollarcnt               2950951
assessmentyear                  2982284
landtaxvaluedollarcnt           2925291
taxamount                       2962465
taxdelinquencyflag                56515
taxdelinquencyyear                56517
censustractandblock             2910232
dtype: int64

#### <font color = lightblue><B><I>My Variables</I></B></font>

In [84]:
zillow_subset_cols = ["bedroom_cnt", "bathroom_cnt",
#                    "sq_ft_finished", "zip_code", "sell_price"]   
dataset['bedroomcnt']




# new_dataset = dataset.loc[(dataset['bedroomcnt'].notnull() == True) & (dataset['bathroomcnt'] != True) &
#                           (dataset['calculatedfinishedsquarefeet'] != True) 
#                           (dataset['parcelid'] != True), ["bedroom_cnt", "bathroom_cnt",
#                           "sq_ft_finished", "zip_code", "sell_price"]]   


#bedroom_cnt = [x for x in dataset.bedroomcnt if str(x) != 'NaN']
#bathroom_cnt = [x for x in dataset.bathroomcnt if str(x) != 'NaN']
#sq_ft_finished = [x for x in dataset.calculatedfinishedsquarefeet if str(x) != 'NaN']
#zip_code =  [x for x in dataset.regionidzip if str(x) != 'NaN']
#sell_price = dataset2.parcelid

TypeError: 'Series' object is not callable

In [83]:
dataset.calculatedfinishedsquarefeet.head(50)

0         NaN
1         NaN
2     73026.0
3      5068.0
4      1776.0
5      2400.0
6         NaN
7      3611.0
8         NaN
9      3754.0
10     3095.0
11     2470.0
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18     2760.0
19     4000.0
20     3633.0
21     4053.0
22     1442.0
23     1936.0
24     1606.0
25     2820.0
26    13130.0
27        NaN
28     2865.0
29     6790.0
30     1090.0
31     1620.0
32     3170.0
33     2077.0
34     2019.0
35    28667.0
36     5610.0
37     2735.0
38        NaN
39        NaN
40    18629.0
41     1781.0
42     4320.0
43        NaN
44     1012.0
45     1931.0
46      700.0
47    13768.0
48     2427.0
49     2718.0
Name: calculatedfinishedsquarefeet, dtype: float64

In [59]:
#sns.jointplot(x=sq_ft_finished, y=sell_price, data=dataset);
#plt.scatter(sq_ft_finished, sell_price)
print(dataset.count())

parcelid                        2985217
airconditioningtypeid            815362
architecturalstyletypeid           6061
basementsqft                       1627
bathroomcnt                     2982260
bedroomcnt                      2982272
buildingclasstypeid               12731
buildingqualitytypeid           1941395
calculatedbathnbr               2868061
decktypeid                        17379
finishedfloor1squarefeet         203758
calculatedfinishedsquarefeet    2940120
finishedsquarefeet12            2720786
finishedsquarefeet13               7671
finishedsquarefeet15             190185
finishedsquarefeet50             203758
finishedsquarefeet6               21482
fips                            2982285
fireplacecnt                     313124
fullbathcnt                     2868061
garagecarcnt                     891008
garagetotalsqft                  891008
hashottuborspa                    50062
heatingorsystemtypeid           1869164
latitude                        2982285
longitude                       2982285
lotsizesquarefeet               2712511
poolcnt                          539632
poolsizesum                       27958
pooltypeid10                      17006
pooltypeid2                       33056
pooltypeid7                      505895
propertycountylandusecode       2982218
propertylandusetypeid           2982285
propertyzoningdesc              1982471
rawcensustractandblock          2982285
regionidcity                    2923089
regionidcounty                  2982285
regionidneighborhood            1156741
regionidzip                     2972503
roomcnt                         2982248
storytypeid                        1623
threequarterbathnbr              316357
typeconstructiontypeid             6746
unitcnt                         1981042
yardbuildingsqft17                81588
yardbuildingsqft26                 2646
yearbuilt                       2937384
numberofstories                  685676
fireplaceflag                      5163
structuretaxvaluedollarcnt      2938753
taxvaluedollarcnt               2950951
assessmentyear                  2982284
landtaxvaluedollarcnt           2925291
taxamount                       2962465
taxdelinquencyflag                56515
taxdelinquencyyear                56517
censustractandblock             2910232
dtype: int64

In [7]:
dataset.describe()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,2.985217e+06,815362.000000,6061.000000,1627.000000,2.982260e+06,2.982272e+06,12731.000000,1.941395e+06,2.868061e+06,17379.0,...,2646.000000,2.937384e+06,685676.000000,2.938753e+06,2.950951e+06,2.982284e+06,2.925291e+06,2.962465e+06,56517.000000,2.910232e+06
mean,1.332586e+07,1.945723,7.202607,647.220652,2.216196e+00,3.093362e+00,3.734742,6.280822e+00,2.303826e+00,66.0,...,278.365457,1.964438e+03,1.400956,1.781429e+05,4.435279e+05,2.015998e+03,2.684558e+05,5.408949e+03,13.891696,6.048434e+13
std,7.909966e+06,3.160507,2.436290,538.787104,1.078250e+00,1.271569e+00,0.500371,1.729923e+00,1.003243e+00,0.0,...,369.784399,2.364428e+01,0.539056,4.600503e+05,8.163366e+05,6.039949e-02,4.865097e+05,9.675567e+03,2.562172,3.249133e+11
min,1.071172e+07,1.000000,2.000000,20.000000,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,66.0,...,10.000000,1.801000e+03,1.000000,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,2.400000e-01,0.000000,-1.000000e+00
25%,1.164371e+07,1.000000,7.000000,272.000000,2.000000e+00,2.000000e+00,3.000000,5.000000e+00,2.000000e+00,66.0,...,96.000000,1.950000e+03,1.000000,7.766600e+04,1.882200e+05,2.016000e+03,7.970000e+04,2.468620e+03,14.000000,6.037400e+13
50%,1.254509e+07,1.000000,7.000000,535.000000,2.000000e+00,3.000000e+00,4.000000,6.000000e+00,2.000000e+00,66.0,...,168.000000,1.963000e+03,1.000000,1.270660e+05,3.211610e+05,2.016000e+03,1.766190e+05,4.007620e+03,14.000000,6.037572e+13
75%,1.409712e+07,1.000000,7.000000,847.500000,3.000000e+00,4.000000e+00,4.000000,8.000000e+00,3.000000e+00,66.0,...,320.000000,1.981000e+03,2.000000,2.040000e+05,5.140720e+05,2.016000e+03,3.261000e+05,6.230500e+03,15.000000,6.059042e+13
max,1.696019e+08,13.000000,27.000000,8516.000000,3.200000e+01,2.500000e+01,5.000000,1.200000e+01,3.200000e+01,66.0,...,6141.000000,2.016000e+03,41.000000,2.553212e+08,3.196225e+08,2.016000e+03,9.401108e+07,3.823176e+06,99.000000,4.830301e+14

In [85]:
dataset.shape

(2985217, 58)

In [8]:
dataset.columns

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

In [11]:
dataset.head(50)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,179072.0,287634.0,2016.0,108562.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,404013.0,563029.0,2016.0,159016.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,103553.0,698984.0,2016.0,595431.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,4.0,NaN,NaN,...,1.0,NaN,221771.0,265184.0,2016.0,43413.0,4054.76,NaN,NaN,NaN
10,11070347,1.0,NaN,NaN,4.0,4.0,NaN,1.0,4.0,NaN,...,NaN,NaN,138760.0,192544.0,2016.0,53784.0,2460.72,NaN,NaN,NaN
11,11073947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,249582.0,436767.0,2016.0,187185.0,6014.18,NaN,NaN,NaN
12,11114347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
13,11116947,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,171200.0,2016.0,171200.0,4690.68,NaN,NaN,NaN
14,11142747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4265.0,2015.0,4265.0,NaN,NaN,NaN,NaN
15,11193347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2016.0,10.0,NaN,NaN,NaN,NaN
16,11215747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2016.0,10.0,NaN,NaN,NaN,NaN
17,11229347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2108.0,2016.0,2108.0,174.21,NaN,NaN,NaN
18,11287347,NaN,NaN,NaN,0.0,0.0,4.0,3.0,NaN,NaN,...,1.0,NaN,33151.0,63374.0,2016.0,30223.0,2330.24,NaN,NaN,NaN
19,11288547,NaN,NaN,NaN,0.0,0.0,NaN,4.0,NaN,NaN,...,NaN,NaN,176653.0,314727.0,2016.0,138074.0,4162.56,NaN,NaN,NaN
20,11324547,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,NaN,222321.0,296425.0,2016.0,74104.0,6941.39,NaN,NaN,NaN
21,11391347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,200612.0,511433.0,2016.0,310821.0,6840.34,NaN,NaN,NaN
22,11395747,NaN,NaN,NaN,0.0,0.0,4.0,6.0,NaN,NaN,...,1.0,NaN,36423.0,50689.0,2016.0,14266.0,1522.08,NaN,NaN,NaN
23,11404347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,111677.0,365489.0,2016.0,253812.0,3703.54,Y,13.0,NaN
24,11405747,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,42556.0,184437.0,2016.0,141881.0,2992.02,NaN,NaN,NaN
25,11417147,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,45644.0,135755.0,2016.0,90111.0,2797.70,NaN,NaN,NaN
26,11441547,NaN,NaN,NaN,0.0,0.0,4.0,5.0,NaN,NaN,...,1.0,NaN,786351.0,1093711.0,2016.0,307360.0,15617.06,NaN,NaN,NaN
27,11457547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,124.0,2016.0,124.0,NaN,NaN,NaN,NaN
28,11488147,NaN,NaN,NaN,4.0,5.0,NaN,8.0,4.0,NaN,...,NaN,NaN,271704.0,831224.0,2016.0,559520.0,10455.41,NaN,NaN,NaN
29,11520747,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,207923.0,798579.0,2016.0,590656.0,11304.81,NaN,NaN,NaN
30,11524947,1.0,NaN,NaN,2.0,2.0,NaN,7.0,2.0,NaN,...,NaN,NaN,232897.0,357568.0,2016.0,124671.0,6165.36,NaN,NaN,NaN
31,11544747,1.0,NaN,NaN,4.0,3.0,NaN,11.0,4.0,NaN,...,NaN,NaN,339532.0,847770.0,2016.0,508238.0,10244.94,NaN,NaN,NaN
32,11579347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,313941.0,536681.0,2016.0,222740.0,6905.70,NaN,NaN,NaN
33,11585547,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,NaN,NaN,210192.0,646760.0,2016.0,436568.0,7924.68,NaN,NaN,NaN
34,11588747,NaN,NaN,NaN,3.0,3.0,NaN,5.0,3.0,NaN,...,NaN,NaN,451786.0,1431502.0,2016.0,979716.0,17034.34,NaN,NaN,NaN
35,11592147,NaN,NaN,NaN,0.0,0.0,3.0,NaN,NaN,NaN,...,4.0,NaN,13315021.0,25797852.0,2016.0,12482831.0,333480.70,NaN,NaN,NaN
36,11609547,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,33522.0,239984.0,2016.0,206462.0,3436.86,NaN,NaN,NaN
37,11617547,1.0,NaN,NaN,3.0,2.0,NaN,NaN,3.0,NaN,...,NaN,NaN,757582.0,2922104.0,2016.0,2164522.0,34982.17,NaN,NaN,NaN
38,11660547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,233427.0,6730242.0,2016.0,6496815.0,80348.13,NaN,NaN,NaN
39,11681747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15532.0,2016.0,15532.0,248.89,NaN,NaN,NaN
40,11698747,NaN,NaN,NaN,0.0,0.0,4.0,6.0,NaN,NaN,...,1.0,NaN,590254.0,1315128.0,2016.0,724874.0,19040.15,NaN,NaN,NaN
41,11704347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,31244.0,101107.0,2016.0,69863.0,2282.52,NaN,NaN,NaN
42,11732547,NaN,NaN,NaN,0.0,0.0,3.0,4.0,NaN,NaN,...,1.0,NaN,52490.0,262499.0,2016.0,210009.0,3695.84,NaN,NaN,NaN
43,11742147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4703.0,290829.0,2016.0,286126.0,3639.90,NaN,NaN,NaN
44,11751547,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,52011.0,1196269.0,2016.0,1144258.0,14592.40,NaN,NaN,NaN
45,11759947,NaN,NaN,NaN,2.0,4.0,NaN,4.0,2.0,NaN,...,NaN,NaN,124789.0,224617.0,2016.0,99828.0,2885.93,NaN,NaN,NaN
46,11780147,NaN,NaN,NaN,1.0,0.0,NaN,NaN,1.0,NaN,...,NaN,NaN,271309.0,387288.0,2016.0,115979.0,4920.64,NaN,NaN,NaN
47,11781947,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,185411.0,504840.0,2016.0,319429.0,8156.96,Y,15.0,NaN
48,11808747,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,131982.0,385794.0,2016.0,253812.0,4937.95,NaN,NaN,NaN
49,11817747,NaN,NaN,NaN,0.0,0.0,4.0,6.0,NaN,NaN,...,1.0,NaN,229850.0,332879.0,2016.0,103029.0,2236.95,NaN,NaN,NaN

In [53]:
dataset.count()/dataset.shape[0] * 100

parcelid                        100.000000
airconditioningtypeid            27.313324
architecturalstyletypeid          0.203034
basementsqft                      0.054502
bathroomcnt                      99.900945
bedroomcnt                       99.901347
buildingclasstypeid               0.426468
buildingqualitytypeid            65.033631
calculatedbathnbr                96.075461
decktypeid                        0.582169
finishedfloor1squarefeet          6.825567
calculatedfinishedsquarefeet     98.489323
finishedsquarefeet12             91.141984
finishedsquarefeet13              0.256966
finishedsquarefeet15              6.370894
finishedsquarefeet50              6.825567
finishedsquarefeet6               0.719613
fips                             99.901783
fireplacecnt                     10.489154
fullbathcnt                      96.075461
garagecarcnt                     29.847344
garagetotalsqft                  29.847344
hashottuborspa                    1.676997
heatingorsystemtypeid            62.614008
latitude                         99.901783
longitude                        99.901783
lotsizesquarefeet                90.864785
poolcnt                          18.076810
poolsizesum                       0.936548
pooltypeid10                      0.569674
pooltypeid2                       1.107323
pooltypeid7                      16.946674
propertycountylandusecode        99.899538
propertylandusetypeid            99.901783
propertyzoningdesc               66.409611
rawcensustractandblock           99.901783
regionidcity                     97.918811
regionidcounty                   99.901783
regionidneighborhood             38.748975
regionidzip                      99.574101
roomcnt                          99.900543
storytypeid                       0.054368
threequarterbathnbr              10.597454
typeconstructiontypeid            0.225980
unitcnt                          66.361742
yardbuildingsqft17                2.733068
yardbuildingsqft26                0.088637
yearbuilt                        98.397671
numberofstories                  22.969050
fireplaceflag                     0.172952
structuretaxvaluedollarcnt       98.443530
taxvaluedollarcnt                98.852144
assessmentyear                   99.901749
landtaxvaluedollarcnt            97.992575
taxamount                        99.237844
taxdelinquencyflag                1.893162
taxdelinquencyyear                1.893229
censustractandblock              97.488122
dtype: float64