In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy
%matplotlib inline

plt.rcParams['figure.figsize'] = (20.0, 10.0)
plt.rcParams.update({'font.size': 14})

In [73]:
trust_data = pd.read_csv("WELLCOME_APCspend2013_forThinkful.csv", encoding ='Latin-1')

In [74]:
trust_data.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [75]:
newtrust_data = trust_data.dropna(axis = 0, how = 'any')
newtrust_data = newtrust_data.drop_duplicates()
newtrust_data['Journal title'] = newtrust_data.loc[:,'Journal title'].str.lower()

In [76]:
newtrust_data.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
1,PMC3679557,ACS,biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,j med chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,j med chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,j org chem,Regioselective opening of myo-inositol orthoes...,£685.88
5,PMC3579457,ACS,journal of medicinal chemistry,Comparative Structural and Functional Studies ...,£2392.20

In [62]:
newtrust_data.count()/newtrust_data.shape[0] * 100

100.0

In [77]:
newtrust_data['Journal title'].value_counts().head()

plos one                           188
journal of biological chemistry     52
neuroimage                          28
plos pathogens                      24
plos genetics                       23
Name: Journal title, dtype: int64

In [82]:
plos_one= newtrust_data.loc[(newtrust_data['Journal title']) == 'plos one' &
          newtrust_data['COST (£) charged to Wellcome (inc VAT when charged)'].isin('plos one')]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [81]:
newtrust_data.groupby(['Journal title'],sum(['COST (£) charged to Wellcome (inc VAT when charged)']).mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'